In [5]:
import json
import requests

from keras.models import Sequential
from keras.layers import Activation, Dense, Dropout, LSTM
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.metrics import mean_absolute_error

In [9]:
# API of Cryptographic currency in json format
url = 'https://min-api.cryptocompare.com/data/histoday'
res = requests.get(url + '?fsym=BTC&tsym=USD&limit=2000')
hist = pd.DataFrame(json.loads(res.content)['Data'])
hist = hist.set_index('time')
hist.index = pd.to_datetime(hist.index, unit='s')
hist.head()

             close    high     low    open  volumefrom    volumeto
time
2013-05-22  123.80  124.50  122.00  122.89    18308.47  2252949.61
2013-05-23  126.30  126.93  123.00  123.80    22118.25  2772751.89
2013-05-24  133.10  133.98  125.36  126.30    48773.65  6333389.80
2013-05-25  131.99  133.50  128.20  133.10    16837.33  2203681.10
2013-05-26  133.50  136.00  130.61  131.99    23359.36  3130389.06

In [12]:
hist.to_csv('../data/FullBitcoin.csv')

In [ ]:
# remove multi-linearity -> new feature
hist['price'] = (hist['close']+hist['high']+hist['low']+hist['open'])/4
hist['volume'] = (hist['volumeto']+hist['volumefrom'])/2
# hist = hist.drop(columns = ['close','high','low','open','volumeto','volumefrom'])
hist = hist.drop(['close','high','low','open','volumeto','volumefrom'],axis=1)

In [2]:
hist.head()

               price    volume
time
2013-05-21  126.9500  4482.280
2013-05-22  125.4750  5332.715
2013-05-23  130.1050  1754.695
2013-05-24  133.0275  1736.915
2013-05-25  132.2625  1574.205

In [3]:
hist.to_csv('../data/Bitcoin.csv')

In [ ]:
hist_0618 = hist[hist.index < '2018-06-18']
hist_0718 = hist[hist.index < '2018-07-18']
hist_0818 = hist[hist.index < '2018-08-18']
hist_082418 = hist[hist.index < '2018-08-24']
hist_0918 = hist[hist.index < '2018-09-14']

# save to csv
hist_0618.to_csv('../data/hist_0618.csv')
hist_0718.to_csv('../data/hist_0718.csv')
hist_0818.to_csv('../data/hist_0818.csv')
hist_082418.to_csv('../data/hist_082418.csv')
hist_0918.to_csv('../data/hist_0918.csv')

### Test

In [5]:
filename = "../data/hist_0618.csv"
dataframe = pd.read_csv(filename)
dataframe.head()

         time     price    volume
0  2013-05-07  122.2050  5824.440
1  2013-05-08  118.0400  4837.415
2  2013-05-09  125.4725  3843.350
3  2013-05-10  125.2225  1742.930
4  2013-05-11  123.9000  1068.120